[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
vadersentiment = "*"
textblob = "*"
matplotlib = "*"
wordcloud = "*"
pandas = "*"
numpy = "*"
tweepy = "*"

[requires]
python_version = "3.8"
